.item {
    background-color: darkgrey;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow:  2px 4px #888888;
    font-size: medium;
}

.item-dueDate {
    font-size: larger;
}